section(class="hero")
    div(class="container-fluid hero__container")
        div(class="row hero__top")
            h1(class="col-5 heading hero__heading") INNOVATION THAT DRIVES EMOTION
            p(class="paragraph hero__paragraph") THE NEXT LEVEL