.nav {
    display: flex;
    align-items: center;

    &--right {
        justify-content: flex-end;
    }
    
    &__list {
        display: flex;
        gap: 2.8125em;
    }
}

.list-nav {
    &__link {
        color: #fff;
        font-family: Abel, sans-serif;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 1;
        text-decoration: none;

        &--active {
            color: #076CF0;
        }
    }
}

@media screen and (max-width: 767px) {
    .nav {
        justify-content: center;
        
        &__list {
            flex-direction: column;
            align-items: center;
            gap: 1.25em;
        }
    }

    .list-nav {
        &__link {
            font-size: 2em;
        }
    }
}