.box {
    padding-left: 43px;
    font-size: 16px;

    &__heading {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        color: #000;
        font: 500 3.75em/1.185 Rubik, sans-serif;
        text-transform: uppercase;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -0.7166em;
            width: 5px;
            height: 90%;
            background-color: #076CF0;
            transform: translateY(-50%);
        }
    }

    &__tag {
        display: inline-block;
        color: #076CF0;
        font: 400 1.25em/1.3 Abel, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 767px) {
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;

        &__heading, 
        &__tag {
            text-align: center;
        }

        &__heading {
            font-size: 2.5em;
            &::before {
                content: none;
            }
        }

        &__tag {
            display: block;
        }
    }
}