@import '../fonts/fonts.scss';

:root {
    box-sizing: border-box;
}

*, 
::after, 
::before {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

.list-reset {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.my-container {
    max-width: 1190px;
}

// ui
@import '../ui/paragraph/paragraph.scss';
@import '../ui/tag/tag.scss';
@import '../ui/nav/nav.scss';
@import '../ui/box/box.scss';
@import '../ui/card/card.scss';
@import '../ui/button/button.scss';
@import '../ui/graph/graph.scss';

// sections
@import '../sections/header/header.scss';
@import '../sections/about/about.scss';
@import '../sections/experiences/experiences.scss';
@import '../sections/unique/unique.scss';
@import '../sections/products/products.scss';