.header {
    background: no-repeat center / auto 100% #060a0d url('../img/bg.jpg');

    &__container {
        padding-top: 0.9375em;
    }

    &__top {
        justify-content: space-between;
    }

    &__bottom {
        padding-top: 165px;
        padding-bottom: 192px;
    }
    
    &__title {
        padding-left: 0;
    }
}

.top-header {
    &__img {
        height: 70px;
    }
}

.bottom-header {
    padding-left: 0;
    
    &__heading {
        color: #fff;
        font-size: 5em;

        &::before {
            content: none;
        }
    }

    &__tag {
        font-size: 1.875em;
        letter-spacing: unset;
    }
}

@media screen and (max-width: 767px) {
    .header {
        &__row {
            &--top {
                --bs-gutter-y: 50px;
            }
        }

        &__bottom {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }   
    
    .top-header {
        &__img-wrap {
            display: flex;
            justify-content: center;
        }

        &__img {
            height: 40px;
        }
    }

    .bottom-header {
        &__heading {
            font-size: 2.5em;
        }
    }
}