extends ../templates/layout.pug

block variables
    - 
        let title = 'Technlogy Home Page';
        let navList = [
            {
                href: '#',
                innerHTML: 'Home',
            },
            {
                href: '#',
                innerHTML: 'About Us',
            },
            {
                href: '#',
                innerHTML: 'Service',
            },
            {
                href: '#',
                innerHTML: 'Products',
            },
            {
                href: '#',
                innerHTML: 'People',
            },
            {
                href: '#',
                innerHTML: 'Contact',
            },
        ];
        let heroList = [
            {
                title: 'Countless Layout', 
                iconName: 'i1.webp', 
                iconAlt: 'изображение логотипа',
            }, 
            {
                title: 'Easy to customize', 
                iconName: 'i2.webp', 
                iconAlt: 'изображение логотипа',
            }, 
            {
                title: 'Live customizer', 
                iconName: 'i3.webp', 
                iconAlt: 'изображение логотипа',
            }, 
            {
                title: 'Fully responsive', 
                iconName: 'i4.webp', 
                iconAlt: 'изображение логотипа',
            }, 
        ];

block header
    include ../../sections/header/header.pug
block main
    include ../../sections/hero/hero.pug