section(class="products")
    div(class="container-fluid products__container")
        div(class="col-6")
        div(class="col-6 info")
            h2(class="heading info__heading") Products
            span(class="tag info__tag") latest features
            p(class="paragraph info__paragraph") Nulla placerat mi vitae mauris varius consequat. Aliquam libero ante, consectetur at turpis sit amet, congue Suspendisse porta bibendum scelerisque.
            p(class="paragraph info__paragraph") Suspendisse porta bibendum scelerisque. Nulla placerat
            a(class="button info__more" href="#") LEARN MORE