.about {
    &__list {
        transform: translateY(-83px);
    }

    &__middle {
        margin-bottom: 130px;
        padding-top: 67px;
    }

    &__bottom {
        padding-bottom: 130px;
    }
}

.list-about {
    &__item {
        &:nth-child(1) .card {
            box-shadow: 0 0 60px 0 #4091fb;
        }

        &:nth-child(2) .card {
            box-shadow: 0 0 60px 0 #7FE7C6;
        }

        &:nth-child(3) .card {
            box-shadow: 0 0 60px 0 #DF8CC4;
        }

        &:nth-child(4) .card {
            box-shadow: 0 0 60px 0 #F4A382;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

.body-list-about {
    &__title {
        color: #000;
        font: 400 1.5625em/1.2744 Abel, sans-serif;
    }
}

.middle-about {
    &__col {
        &--bg {
            min-height: 528px;
            background: no-repeat center / auto 100% url('../img/about/bg.webp');
        }

        &--content {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__paragraph:nth-of-type(1) {
        margin-top: 30px;
    }
}

.box-middle-about {
    max-width: 401px;
}

.bottom-about {
    &__paragraph {
        max-width: 370px;

        &:first-of-type {
            margin-top: 25px;
        }
    }
}

.box-bottom-about {
    max-width: 500px;
    padding-left: 35px;

    &__heading {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 1023px) {
    .about {
        &__list {
            --bs-gutter-y: 3.125em;
            transform: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .about {
        &__row {
            &--list {
                --bs-gutter-y: 3.125em;
            }
        }

        &__middle, 
        &__bottom {
            --bs-gutter-y: 3.125em;
        }

        &__middle {
            margin-bottom: 50px;
            padding-top: 0;
        }

        &__bottom{
            padding-bottom: 50px;
        }

        &__list {
            margin-bottom: 50px;
        }
    }

    .middle-about {
        &__col {
            &--bg {
                display: none;
            }
        }
    }

    .box-bottom-about {
        max-width: unset;
        padding-left: 0;
    }
}