.graph {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'title percent'
            'scale scale';

        & + & {
            margin-top: 38px;
        }
    }

    &__title,
    &__percent {
        font: 400 1.25em/1.3 Abel, sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__title {
        grid-area: title;
        text-align: left;
    }

    &__percent {
        grid-area: percent;
        text-align: right;
    }
}

.box-graph {
    grid-area: scale;
    height: 5px;
    margin-top: 7px;
    background: #f1f4f8;

    &__scale {
        height: 100%;
    }
}