@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel-Regular.woff2') format('woff2'), 
         url('../fonts/Abel-Regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), 
         url('../fonts/OpenSans-Regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'), 
         url('../fonts/Rubik-Regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'), 
         url('../fonts/Rubik-Medium.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 500;
}