section(Class="unique")
    div(Class="container-fluid unique__container")
        div(class="row")
            div(class="col-6 info")
                h2(class="heading info__heading") Be unique
                span(class="tag info__tag") people really matter
                p(class="paragraph info__paragraph") Nulla placerat mi vitae mauris varius consequat. Aliquam libero ante, consectetur at turpis sit amet, congue Suspendisse porta bibendum scelerisque.
                p(class="paragraph info__paragraph") Suspendisse porta bibendum scelerisque. Nulla placerat
                button(class="button info__more" type="button") LEARN MORE
            div(class="col-6")