//- imgSrc - путь до иконки
//- mod - вспомогательный класс (необязательно)

mixin card(imgSrc, mod)
    //- Классы по БЭМ
    - let blockMod = mod ? ' ' + mod : '';
    - let imgMod = mod ? ' ' + mod + '__img' : '';
    div(class="card" + blockMod)
        img(class="card__img" + imgMod src=imgSrc alt="icon" aria-hidden="true")
        if block
            block