.experiences {
    background: no-repeat center / cover url('../img/experiences/bg.jpg') #090708;

    &__row {
        margin-bottom: 130px;
    }
    
    &__col {
        padding-top: 154px;
        padding-bottom: 151px;
    }
}

.box-experiences {
    padding-left: 0;

    &__heading {
        margin-bottom: 31px;
        color: #fff;
        font-size: 5em;
        line-height: 1.3125;

        &::before {
            content: none;
        }
    }
    
    &__tag {
        color: #868686;
        font-size: 1.875em;
        letter-spacing: unset;
        line-height: 0.7333;
    }
}

@media screen and (max-width: 767px) {
    .experiences {
        &__row {
            margin-bottom: 50px;
        }

        &__col {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    .box-experiences {
        &__heading {
            font-size: 2.5em;
        }
    }
}