include ../../ui/box/box.pug

section(class="experiences")
    div(class="container-fluid my-container experiences__container")
        div(class="row")
            div(class="col-6 experiences__col")
                +box('unique experiences', 'THE NEXT LEVEL', 'box-experiences')