section(class="experiences")
    div(class="container-fluid experiences__container")
        div(class="row")
            div(class="col-6")
                h2(class="heading heading--large experience__heading") unique experiences
                span(class="tag experinces__tag") THE NEXT LEVEL